{{- define "content" -}}
  {{- range $contentIndex, $content := . -}}
    {{- if eq $content.Type "text" -}}
      {{- $content.Value -}}
    {{- end -}}
    {{- if eq $content.Type "ruleReference" -}}
      {{- $ruleRef := Split $content.Value "–" -}}
      {{- $index := index $ruleRef 0 -}}
      <a href="#rule-{{- ElementID $index -}}">{{- $content.Value -}}</a>
    {{- end -}}
    {{- if eq $content.Type "sectionReference" -}}
      {{- $ruleRef := Split $content.Value "," -}}
      {{- $section := index $ruleRef 0 -}}
      {{- $sectionTag := Replace $section " " "-" -1 -}}
      <a href="#{{- ElementID $sectionTag -}}">{{- $content.Value -}}</a>
    {{- end -}}
    {{- if eq $content.Type "urlReference" -}}
      <a href="https://{{- $content.Value -}}" target="_blank">{{- $content.Value -}}</a>
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- define "example" -}}
  [alert]<em><strong>Example:</strong> {{ template "content" . -}}</em>[/alert]
{{- end -}}
    
{{- define "cr-download" -}}
  [alert]You can download the most recent Comprehensive Rules files in your preferred format from the official Magic site <strong><a href="https://magic.wizards.com/en/rules" target="_blank" rel="noopener">here</a></strong>.[/alert]
{{- end -}}

<div class="cr-rules">
  <div style="float: right;width: 300px;margin-right: 0px;margin-top: -20px;text-align: right"><em>Effective {{ .Introduction.EffectiveDate }}</em></div>
  <h2 style="text-align: justify;margin-top: -20px">Introduction</h2>
  <p style="text-align: justify">{{- .Introduction.Body -}}</p>
  {{- template "cr-download" -}}
  <h2>Rules</h2>
  {{- range $sectionNum, $sectionRule := .Rules.Sections -}}
    <h3 id="section-{{- $sectionNum -}}">{{- $sectionNum -}}. {{ $sectionRule.Name -}}</h3>
    {{- range $subsectionNum, $subsectionRule := $sectionRule.Subsections -}}
      <strong><span id="rule-{{- $subsectionNum -}}"><h4 id="rule-{{- $subsectionNum -}}">{{- $subsectionNum -}}. {{ $subsectionRule.Name -}}</h4></strong>
      {{- range $ruleNum, $rule := $subsectionRule.Rules -}}
        <strong><span id="rule-{{- $subsectionNum -}}-{{- $ruleNum -}}">{{- $subsectionNum -}}.{{- $ruleNum -}}</a></strong>. {{ template "content" $rule.Contents }}
        {{- range $exampleIndex, $example := $rule.Examples -}}
          {{- template "example" $example -}}
        {{- end -}}
        <div style="padding-left: 53px">
          <ul style="list-style: none;padding-left: 0;list-style-type: none;">
          {{- range $subruleLetter, $subrule := $rule.Subrules -}}
            <li>
              <strong><span id="rule-{{- $subsectionNum -}}-{{- $ruleNum -}}{{- $subruleLetter -}}">{{- $subsectionNum -}}.{{- $ruleNum -}}{{- $subruleLetter -}}</span></strong> {{ template "content" $subrule.Contents }}
              {{- if $subrule.Examples -}}
                <div style="padding-right: 7px; margin-top: -25px; margin-bottom: -15px">
                  {{- range $exampleIndex, $example := $subrule.Examples -}}
                    {{- template "example" $example -}}
                  {{- end -}}
                </div>
              {{- end -}}
            </li>
          {{- end -}}
          </ul>
        </div>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  <h2>Glossary</h2>
  {{- range $glossaryTerm := .Glossary -}}
    <p style="text-align: justify"><strong>{{ template "content" $glossaryTerm.Term }}</strong>
    {{ range $definition := $glossaryTerm.Definition }}
      {{- template "content" $definition }}
    {{ end }}
  {{- end -}}</p>
  <h2>Credits</h2>
  {{ range $creditLine := .Credits }}
    {{ $creditLine }}
  {{ end }}
</div>
